.business {
  padding-top: 0;

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.business__list {
  display: flex;
  justify-content: space-between;
}

.business__item {
  position: relative;
  width: 370px;
}

.business__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}
