.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}



.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  color: var(--social-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

  &:hover, &:focus {
    border: 1px solid var(--brend-color);
    color: var(--brend-color);
  }

  @media screen and (min-width: 480px) {
    padding: 16px 50px;
  }
  @media screen and (min-width: 768px) {
    padding: 16px 59px;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 31px;
  }
}


.clients__icon {
  fill: currentColor;
}
