.logo {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;

  span {
    color: var(--brend-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
