.burger-menu {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

    &:hover {
      color: var(--brend-color);
    }




  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.burger-menu__icon {
  fill: currentColor;
}

.burger-menu__icon--open {
  opacity: 0;

  .burger-menu.is-open & {
    opacity: 1;
  }
}

.burger-menu__icon--close {
  opacity: 1;

  .burger-menu.is-open & {
    opacity: 0;
  }
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-bg-color);
  padding: 48px 40px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;



  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu__wrapper {
  width: 480px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.mobile-navigation__item {
  padding-bottom: 32px;
}

.mobile-navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

  &:hover, &:focus {
    color: var(--brend-color);
  }
}

// .mobile-navigation__link--active {
//   color: var(--brend-color);
// }


.mobile-contacts__item {
  padding-bottom: 32px;
}

.mobile-contacts__link-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}

.mobile-contacts__link-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.mobile-social__list {
  display: flex;
  gap: 10px;
  padding-top: 32px;
}

.mobile-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--brend-color);

  display: flex;
  gap: 10px;

  .mobile-social__item:not(:last-child) &::after {
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: var(--second-text-color);

  }



}
